.wrapper {
padding: 30px 50px;
}

.header {
  width: 100%;
}

/* .button:hover {
  background: rgba(186,210,255,.6);
  -webkit-transition: .2s linear;
  transition: .2s linear;
} */

.btns:not(:last-child) {
  margin-right: 15px;
}

@media (max-width: 764px) {
  .header {
    flex-direction: column;
  }

  .buttons-panel {
    justify-content: center;
    margin-bottom: 20px;
  }

  .search-panel {
    justify-content: center;
  }
}