.header {
  width: 100%;
  padding: 50px;
}

.main {
  padding: 0 5%;
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
}

@media (max-width: 764px) {
  .header {
    flex-direction: column;
  }
}
